<div class="container">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="signInForm">
                <div class="form-group form-{{langChoice}}">
                    <select (change)="selectLang()">
                        <option value="he">Hebrew</option>
                        <option value="en">English</option>
                    </select>
                    <div>
                        <div>
                            <img src="../../assets/Images/profile.png">
                        </div>
                        <input type="file" class="custom-file-input add-image" id="inputGroupFile04">
                    </div>
                    <h4>{{translateValues[8][langChoice]}}</h4>
                    <input type="text" placeholder="{{translateValues[3][langChoice]}}"
                        class="form-control input-{{langChoice}} input-2" id="Email" formControlName="email">
                    <input #pas2 type="password" placeholder="{{translateValues[5][langChoice]}}"
                        class="form-control input-{{langChoice}} input-2" id="password" formControlName="password">
                        <div *ngIf="langChoice == 1 ">
                            <img #img2 class="icon1" src="../../assets/Images/view-0.png" (click)="changeType(pas2, img2)">
                          </div>
                          <div *ngIf="langChoice == 0 ">
                            <img #img1 class="icon2" src="../../assets/Images/view-0.png" (click)="changeType(pas1, img1)">
                        </div>
                       
                    <br />
                    <button [disabled]="signInForm && !signInForm.valid" class="btn btn-primary center"
                        (click)="login()">{{translateValues[8][langChoice]}}
                    </button>
                    <br>
                    <br>
                    <a style="text-align: center;" class="center2" routerLink="/signin">{{translateValues[10][langChoice]}}</a>

                    <br>
                    <br>

                        <br>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="under">
    <a style="display: inline-block;"  routerLink="/signin">{{translateValues[0][langChoice]}}</a>
    <div style="display: inline-block;">{{translateValues[9][langChoice]}}</div> 
    </div>